/* General sidebar styling */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text for readability */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
    z-index: 999;
  }
  
  /* Logo Section */
  .sidebar-logo {
    display: flex;
    align-items: center;
    padding: 20px 4px ;
    background-color: #f1f7fc; 
    border-bottom: 2px solid #dddddd8b; /* Subtle separation line */
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .logo-brand {
    color: #007bff; /* Blue color for "BOOKMYDOCTOR" */
    font-weight: bold;
    font-size: 20px;
  }
  
  .logo-subtitle {
    color: #28a746b3; /* Green color for "Medical Center" */
    font-weight: bold;
    margin: 0;
    font-size: 19px;
    text-align: center;
    letter-spacing: 2px; /* Add spacing for a clean look */
  }
  
  /* Links Container */
  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin-top: 40px;
  }
  
  .sidebar-links li {
    margin: 15px 0;
  }
  
  /* Individual Link */
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .sidebar-link:hover {
    background-color: #f1f9ff;
    border-left: 5px solid #007bff; 
    color: #007bff;
  }
  
  .sidebar-icon {
    margin-right: 15px;
    font-size: 1.3rem;
    color: #666;
    transition: color 0.3s ease;
  }
  
  .sidebar-link:hover .sidebar-icon {
    color: #007bff; 
  }
  
  .sidebar-link.active {
    border-right: 2px solid #007bff; 
    color: #007bff;
    background-color: #f1f9ff;
  }

  .sidebar-link.active .sidebar-icon {
    color: #007bff;/* Optional: Change icon color for active link */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      width: 220px; 
    }
  
    .sidebar-logo {
      font-size: 1.8rem;
    }
  
    .sidebar-icon {
      font-size: 1.1rem;
    }
  
    .sidebar-link {
      font-size: 1rem;
    }
  }
  